---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <MainHead title="Not Found" />
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T6K5MX5Y23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T6K5MX5Y23');
</script>
  <body>
    <Header />
    <div class="wrapper mt4 mb4">
      <h1>Page Not Found</h1>
    </div>
    <Footer />
  </body>
</html>
