---
import Mirador from "../components/Mirador";
import Nav from "../components/Nav";

const manifest = "https://karenandscott.github.io/annonatate/manifests/iiif/dc/manifest.json";

---

<html class="h-full">

<body class="h-full">
    <Nav client:load />
    <div class="relative h-[90vh]">
        <Mirador client:only="react" loadedManifest={manifest} />
    </div>
</body>

</html>