<footer
  class="p-4 bg-white rounded-sm md:flex md:items-center md:justify-between md:p-6 border-solid border-t-2 border-ddnpblue/50 mt-8"
>
  <div class="flex flex-col space-y-2 text-center md:text-left">
    <p class="text-sm">
      © <a
        href="#"
        class="hover:underline hover:decoration-ddnpblue text-gray-700"
        >Digital Dickens Notes Project</a
      >, All Rights Reserved | V. 1.0 (2022)
    </p>
    <p class="text-sm">
      Directors: Anna Gibson & Adam Grener | Site created by Scott Bailey
    </p>
    <ul
      class="flex flex-row md:flex-col justify-between space-x-2 md:space-x-0 md:space-y-2 mt-6 text-sm md:mt-0 mx-auto"
    >
      <li>
        <a
          href="/credits-and-acknowledgements"
          class="mr-4 hover:underline hover:decoration-ddnpblue md:mr-6 text-gray-700"
          >Credits & Acknowledgements</a
        >
      </li>
      <li>
        <a
          href="/usage/guide"
          class="mr-4 hover:underline hover:decoration-ddnpblue md:mr-6 text-gray-700"
          >User Guide</a
        >
      </li>
      <li>
        <a
          href="#"
          class="mr-4 hover:underline hover:decoration-ddnpblue sm:mr-6 text-gray-700"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
