<footer
  class="p-4 bg-white rounded-sm md:flex md:items-center md:justify-between md:p-6 border-solid border-t-2 border-ddnpblue/50 mt-8"
>
  <div class="flex flex-col space-y-2 text-center md:text-left text-sm">
    <div class="flex flex-col sm:flex-row sm:space-x-4">
      <p>
        © <a
          href="#"
          class="hover:underline hover:decoration-ddnpblue text-gray-700"
          >Digital Dickens Notes Project</a
        >, All Rights Reserved
      </p>
      <p class="hidden sm:block">|</p>
      <p>V. 1.0 (2022)</p>
    </div>
    <div class="flex flex-col sm:flex-row sm:space-x-4">
      <p>Directors: Anna Gibson & Adam Grener</p>
      <p class="hidden sm:block">|</p>
      <p>Site created by Scott Bailey</p>
    </div>
    <ul
      class="flex flex-col sm:flex-row justify-between space-x-2 sm:space-x-0 sm:space-y-2 mt-6 text-sm sm:mt-0 mx-auto"
    >
      <li>
        <a
          href="/credits-and-acknowledgements"
          class="mr-4 hover:underline hover:decoration-ddnpblue md:mr-6 text-gray-700"
          >Credits & Acknowledgements</a
        >
      </li>
      <li>
        <a
          href="/usage/guide"
          class="mr-4 hover:underline hover:decoration-ddnpblue md:mr-6 text-gray-700"
          >User Guide</a
        >
      </li>
      <li>
        <a
          href="#"
          class="mr-4 hover:underline hover:decoration-ddnpblue sm:mr-6 text-gray-700"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
