---
import { Icon } from "astro-icon";
const links = [
  {
    href: "/introductionn/general",
    text: "Introduction",
  },
  {
    href: "#",
    text: "Using the DDNP",
  },
  {
    href: "/notes/bleak-house",
    text: "The Working Notes",
  },
  {
    href: "#",
    text: "About the Project",
  },
];
---

<script>
  const header = document.getElementById("navheader");
  const menuBtn = document.getElementById("menubtn");
  const logo = document.getElementById("navlogo");
  menuBtn.onclick = () => header.classList.toggle("open");
  if (matchMedia("(pointer:fine)").matches) {
    logo.addEventListener("contextmenu", (event) => {
      event.preventDefault();
      window.location.href = "/";
    });
  }
</script>

<header id="navheader" class="relative z-10 bg-white">
  <div class="bg-white text-slate-900 py-4">
    <nav
      class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6"
      aria-label="Global"
    >
      <div class="flex flex-col sm:flex-row items-center flex-1 gap-y-6">
        <div class="flex items-center justify-between -m-2 md:w-3/12">
          <a
            href="/"
            class="flex gap-x-1 text-slate-900 font-semibold text-xl"
            id="navlogo"
          >
            <Icon
              name="DickensNotesSide"
              height={32}
              class="-mb-1 md:h-auto md:w-36"
              aria-hidden="true"
            />
            <span class="sr-only">Digital Dickens Notes Project</span>
          </a>
          <div class="-mr-2 sm:-mr-6 flex items-center md:hidden">
            <button
              type="button"
              id="menubtn"
              class="rounded-md p-2 inline-flex items-center justify-center hover:bg-white hover:text-slate-900 focus:outline-none focus:ring-2 focus-ring-inset focus:ring-neutral-50"
              aria-expanded="false"
            >
              <span class="sr-only">Open main menu</span>
              <Icon
                pack="heroicons-outline"
                name="menu"
                size={24}
                aria-hidden="true"
              />
            </button>
          </div>
        </div>
        <div
          id="menu"
          class="flex flex-col sm:flex-row gap-x-8 gap-y-4 sm:ml-10 text-center sm:text-left sm:pb-0"
        >
          {
            links.map(({ href, text }) => (
              <a
                href={href}
                class="text-base text-slate-900 hover:text-slate-800"
              >
                {text}
              </a>
            ))
          }
        </div>
      </div>
    </nav>
  </div>
</header>

<style>
  @media (max-width: 768px) {
    header:not(.open) :is(#menu) {
      @apply hidden;
    }
    header.open {
      @apply bg-white;
    }
  }
</style>
