<!-- code from https://kopi.dev/tailwind/hero-with-background-image/ -->
<div class="w-full bg-center bg-cover bg-hero">
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-60 py-12">
    <div class="text-center">
      <div class="container px-4 mx-auto">
        <div class="max-w-4xl mx-auto text-center">
          <!-- <span class="text-gray-200 font-semibold uppercase tracking-widest">New feature</span> -->
          <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Exploring Charles Dickens's Serial Form
          </h2>
          <p class="max-w-3xl mx-auto mb-10 text-lg text-gray-200">
            Explore the notes Charles Dickens kept as he wrote his novels over many weeks and months. The Digital
            Dickens Notes Project (DDNP) offers faithful color transcriptions of the pages on which Dickens recorded
            ideas, plans, and memoranda while he was writing. Interactive annotations and editorial introductions
            illuminate the Notes as temporally rich texts that can offer unique insight into how Dickens's novels
            developed over time.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>