<!-- code from https://kopi.dev/tailwind/hero-with-background-image/ -->
<div class="w-full bg-center bg-cover bg-hero">
  <div
    class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-60 py-12"
  >
    <div class="text-center">
      <div class="container mx-auto">
        <div class="max-w-md sm:max-w-xl md:max-w-3xl mx-auto text-center">
          <h2
            class="mt-8 mb-6 text-3xl md:text-4xl lg:text-5xl font-bold text-gray-50"
          >
            Exploring Charles Dickens's Serial Form
          </h2>
          <p
            class="max-w-md sm:max-w-xl md:max-w-3xl mx-auto mb-10 text-lg text-gray-50"
          >
          The Digital Dickens Notes Project allows users to explore the Working Notes Charles Dickens kept as he wrote his novels in monthly or weekly installments. In as few as 19 pages per novel, the Notes are concise, dynamic records of Victorian serial composition. Access legible, visually faithful transcriptions of the Working Notes; read editorial annotations that interpret and explain the significance of the Notes; learn about Dickens’s compositional practice; and consider how to incorporate Dickens’s Notes into your teaching and research. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
