<!-- code from https://kopi.dev/tailwind/hero-with-background-image/ -->
<div class="w-full bg-center bg-cover bg-hero">
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-60 py-12">
    <div class="text-center">
      <div class="container px-4 mx-auto">
        <div class="max-w-4xl mx-auto text-center">
          <!-- <span class="text-gray-200 font-semibold uppercase tracking-widest">New feature</span> -->
          <h2 class="mt-8 mb-6 text-4xl lg:text-5xl font-bold text-gray-100">Exploring Charles Dickens's Serial Form
          </h2>
          <p class="max-w-3xl mx-auto mb-10 text-lg text-gray-200">
            The Digital Dickens Notes Project allows users to explore and interpret the ‘Working Notes’ Charles Dickens
            kept for his novels. Dickens composed and published all of his fifteen novels in monthly or weekly
            installments, and for many novels he used these Working Notes–one sheet of paper for each installment–to
            consider character combinations and plot developments; to record titles, events, and key phrases; and to
            document decisions made or deferred to subsequent numbers.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>