---
import "../styles/global.scss";
const {
  title = "Digital Dickens Notes Project",
  description = "The Digital Dickens Notes Project is an exploration of Dickens's working notes",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
  rel="stylesheet"
/>

<link rel="manifest" href="site.webmanifest" />
<link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="icon" href="favicon.ico" sizes="any" />
<link rel="icon" href="icon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="apple-touch-icon.png" />
