---
const { link, title } = Astro.props;
---

<!-- Code adapated from https://tailwindcomponents.com/component/cta-cards/ -->
<div
  class="max-w-screen mx-auto rounded-md bg-ddnpblue/10 border border-ddnpblue mb-[3em] shadow-lg"
>
  <div
    class="flex flex-col sm:flex-row space-y-2 md:space-x-2 items-center justify-center h-full px-2 bg-ddnpblue/10 rounded-md"
  >
    <div class="w-full sm:w-1/2">
      <p class="w-full text-2xl font-semibold text-gray-800">
        Explore the Working Notes
      </p>
      <p
        class="w-full sm:pb-4 text-sm tracking-wide leading-tight text-gray-800"
      >
        View Dickens's Notes for <span class="italic">{title}</span> and read our
        Editorial Annotations in Mirador.
      </p>
      <a href={link}>
        <button class="rounded">
          <div
            class="opacity-95 border rounded-md border-ddnpblue bg-ddnpblue/80 px-4 shadow-md"
          >
            <p
              class="m-auto inset-0 text-md font-semibold uppercase antialiased leading-normal text-center text-white py-2"
            >
              Open Viewer
            </p>
          </div>
        </button>
      </a>
    </div>
    <div class="w-full sm:w-1/2 sm:max-w-md">
      <img
        class="flex-1 h-full rounded-md border border-gray-200"
        src="/images/bleak_house/BHVI.jpeg"
      />
    </div>
  </div>
</div>
