---
const { image, altText, name, role } = Astro.props;
---

<section class="flex gap-6 justify-between items-center">
  <img
    class="object-cover max-w-[10rem] shadow-md rounded-md"
    src={image}
    alt={altText}
  />
  <div class="flex items-center flex-col">
    <p>
      <span class="font-bold">{name}</span> - <span class="italic">{role}</span>
    </p>
    <slot />
  </div>
</section>
