---
import Nav from "../components/Nav";
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer";

import Header from "../components/Header.astro";

const { content } = Astro.props;
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>

  <body class="container mx-auto">
    <Header />
    <div class="prose px-4 sm:px-6 mx-auto mt-24">
      <h1 class="prose text-4xl mt-6">{content.title}</h1>
      <div class="prose mt-6">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
