---
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { content } = Astro.props;
---

<html lang={content.lang || "en"}>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>

  <body class="container mx-auto flex flex-col h-screen justify-between">
    <Header />
    <div
      class="prose px-4 sm:px-6 prose-a:underline prose-a:decoration-ddnpblue prose-a:underline-offset-4 mx-auto"
    >
      <h1 class="prose text-4xl mt-6 text-gray-800">{content.title}</h1>
      <p class="prose">
        <span class="italic">Lead editor: {content.editor}</span>
      </p>
      <div class="prose mt-6">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
